# Starknet Sepolia (Pathfinder) - Purpose: Bitcoin Pool Integration
ETHEREUM_RPC_URL=https://sepolia.infura.io/v3/YOUR_KEY
PATHFINDER_DATA_DIR=/var/lib/pathfinder
RPC_PORT=9545
METRICS_PORT=9187
NODE_EXPORTER_PORT=9100
GRAFANA_PASSWORD=admin


